.about {
  background-color: var(--color-light);
  padding: 120px 0;
  &__descr {
    max-width: 892px;
    font-size: 30px;
    line-height: 160%;
    color: var(--color-dark);
    margin-bottom: 60px;
    &-highlight {
      font-weight: 600;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
  }
  &__item {
    grid-column: 3 span;
  }
  &__digit {
    font-weight: 600;
    font-size: 70px;
    line-height: 160%;
    color: var(--color-accent);
  }
  &__text {
    font-size: 18px;
    line-height: 160%;
    color: var(--color-text);
  }
}
