.order {
  @include image-set("../img/percents");
  padding: 87px 0;
  background-color: var(--color-accent);
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  &__left {
    grid-column: 5 span;
    padding-left: 60px;
  }
  &__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    color: var(--color-light);
    margin-bottom: 20px;
  }
  &__descr {
    font-size: 20px;
    line-height: 130%;
    color: var(--color-light);
  }
  &__right {
    grid-column: 7 span;
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
  }
  &__form {
    max-width: 500px;
  }
}
