<header class="header">
  <div class="container-fluid header__container">
    <a class="logo header__logo" href="#">
      <img
        class="logo__image"
        loading="lazy"
        src="img/logo.svg"
        width="228"
        height="48"
        alt="Robo School Logo"
      />
    </a>
    <nav class="nav" title="Главное меню" data-menu>
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#about" data-scroll data-menu-item
            >О школе</a
          >
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#trainers" data-scroll data-menu-item
            >Тренеры</a
          >
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#prices" data-scroll data-menu-item
            >Стоимость</a
          >
        </li>
      </ul>
      <button
        class="btn-reset burger-close"
        aria-label="Закрыть меню"
        data-menu-close
      ></button>
    </nav>
    <a class="phone header__phone" href="tel:+78000001122">+7 800 000 11 22</a>
    <button
      class="btn-reset burger"
      aria-label="Открыть меню"
      aria-expanded="false"
      data-burger
    >
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
